$white : #ffffff;
$blue: blue;
$black: #000000;
$lightgrey: #ddd;

$grid-gutter: 50px;

#App {
 min-height: 100vh; 
}

.App-header {
  display: flex;
  flex-direction: column;
  padding: $grid-gutter;
  //align-items: center;
  //justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: left;
}

#clonedContent{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

#mainContent{
  clip-path: circle(60px at center);
  background: $black;
  color: $white;

  .thumbnail{
    background-image: url('https://i.natgeofe.com/n/e66e93af-1ad0-4201-8641-ef384108536a/orca.jpg');
    background-size: cover;
  }
}

#projects{
  display: grid;
  grid-template-columns: 1fr 1fr;

  .project{
    margin: $grid-gutter;

    .thumbnail{
      position: relative;
      background-color: $lightgrey;
      border: 1px solid $black;
      height: 0;
      padding-top: 56%;
      overflow: hidden;
    }
  }
}
